name: Publish Docker image

on:
  release:
    types: [published]

jobs:
  push_to_registries:
    name: Push Docker image to multiple registries
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - name: Check out the repo
        uses: actions/checkout@v5

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@9ec57ed1fcdbf14dcef7dfbe97b2010124a938b7
        with:
          images: |
            ghcr.io/n0201/python-untis-telegram-bot_rewrite

      - name: Log in to the Container registry
        uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker images
        id: push
        uses: docker/build-push-action@3b5e8027fcad23fda98b2e3ac259d8d67585f671
        with:
          context: .
          push: true
          tags: ghcr.io/n0201/python-untis-telegram-bot_rewrite:${{ github.ref_name }}
      
      - name: Save Docker image to tar
        run: |
          docker pull ghcr.io/n0201/python-untis-telegram-bot_rewrite:${{ github.ref_name }}
          docker save ghcr.io/n0201/python-untis-telegram-bot_rewrite:${{ github.ref_name }} -o image.tar
      
      - name: Append Docker info to release
        run: gh release edit ${{ github.ref_name }} --add-body "Docker pull: ghcr.io/n0201/python-untis-telegram-bot_rewrite:${{ github.ref_name }}"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload Docker tar to release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ github.ref_name }}
          name: image.tar
          asset_path: image.tar
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      
